site-generator/src/main/resources/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Country" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Page" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="Picture">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="date" use="optional"/>
                            <xs:attribute type="xs:string" name="id" use="optional"/>
                            <xs:attribute type="xs:string" name="town" use="optional"/>
                            <xs:attribute type="xs:string" name="place" use="optional"/>
                            <xs:attribute type="xs:string" name="description" use="optional"/>
                            <xs:attribute type="xs:string" name="country" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Content">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="title" use="optional"/>
                            <xs:attribute type="xs:string" name="path" use="optional"/>
                            <xs:attribute type="xs:string" name="id" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                  <xs:attribute type="xs:byte" name="folder" use="optional"/>
                  <xs:attribute type="xs:byte" name="level" use="optional"/>
                  <xs:attribute type="xs:byte" name="order" use="optional"/>
                  <xs:attribute type="xs:string" name="path" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Content" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="title" use="optional"/>
                      <xs:attribute type="xs:string" name="path" use="optional"/>
                      <xs:attribute type="xs:string" name="id" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
            <xs:attribute type="xs:string" name="folder" use="optional"/>
            <xs:attribute type="xs:byte" name="level" use="optional"/>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:string" name="path" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dicoSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dico" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="geography" minOccurs="0"/>
                    <xs:element type="xs:string" name="climate" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="_row" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:int" name="area" use="optional"/>
                  <xs:attribute type="xs:short" name="population" use="optional"/>
                  <xs:attribute type="xs:string" name="official" use="optional"/>
                  <xs:attribute type="xs:string" name="local" use="optional"/>
                  <xs:attribute type="xs:string" name="Xfranc" use="optional"/>
                  <xs:attribute type="xs:string" name="Xfrance" use="optional"/>
                  <xs:attribute type="xs:string" name="capitale" use="optional"/>
                  <xs:attribute type="xs:string" name="language" use="optional"/>
                  <xs:attribute type="xs:string" name="currency" use="optional"/>
                  <xs:attribute type="xs:string" name="ISO4217" use="optional"/>
                  <xs:attribute type="xs:string" name="ofThe" use="optional"/>
                  <xs:attribute type="xs:string" name="in" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Xml">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="path"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:string" name="folder"/>
      <xs:attribute type="xs:byte" name="level"/>
      <xs:attribute type="xs:string" name="path"/>
    </xs:complexType>
  </xs:element>
</xs:schema><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Country" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Page" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element name="Picture">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="date" use="optional"/>
                            <xs:attribute type="xs:string" name="id" use="optional"/>
                            <xs:attribute type="xs:string" name="town" use="optional"/>
                            <xs:attribute type="xs:string" name="place" use="optional"/>
                            <xs:attribute type="xs:string" name="description" use="optional"/>
                            <xs:attribute type="xs:string" name="country" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Content">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="title" use="optional"/>
                            <xs:attribute type="xs:string" name="path" use="optional"/>
                            <xs:attribute type="xs:string" name="id" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                  <xs:attribute type="xs:byte" name="folder" use="optional"/>
                  <xs:attribute type="xs:byte" name="level" use="optional"/>
                  <xs:attribute type="xs:byte" name="order" use="optional"/>
                  <xs:attribute type="xs:string" name="path" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="Content" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="title" use="optional"/>
                      <xs:attribute type="xs:string" name="path" use="optional"/>
                      <xs:attribute type="xs:string" name="id" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="optional"/>
            <xs:attribute type="xs:string" name="folder" use="optional"/>
            <xs:attribute type="xs:byte" name="level" use="optional"/>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:string" name="path" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="dicoSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dico" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="geography" minOccurs="0"/>
                    <xs:element type="xs:string" name="climate" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="_row" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:int" name="area" use="optional"/>
                  <xs:attribute type="xs:short" name="population" use="optional"/>
                  <xs:attribute type="xs:string" name="official" use="optional"/>
                  <xs:attribute type="xs:string" name="local" use="optional"/>
                  <xs:attribute type="xs:string" name="Xfranc" use="optional"/>
                  <xs:attribute type="xs:string" name="Xfrance" use="optional"/>
                  <xs:attribute type="xs:string" name="capitale" use="optional"/>
                  <xs:attribute type="xs:string" name="language" use="optional"/>
                  <xs:attribute type="xs:string" name="currency" use="optional"/>
                  <xs:attribute type="xs:string" name="ISO4217" use="optional"/>
                  <xs:attribute type="xs:string" name="ofThe" use="optional"/>
                  <xs:attribute type="xs:string" name="in" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="Xml">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="id"/>
                <xs:attribute type="xs:string" name="path"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id"/>
      <xs:attribute type="xs:string" name="folder"/>
      <xs:attribute type="xs:byte" name="level"/>
      <xs:attribute type="xs:string" name="path"/>
    </xs:complexType>
  </xs:element>
